<!DOCTYPE html>
<html>
    <%- include("./partials/head") %>
      <body>
        <%- include("./partials/navbar") %>
        
        <h3>
          Best tech education class in the world. Sign up now to further your education!
        </h3>
        
      </body>
</html>