<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon App</title>
</head>
<body>
    <h1>THIS IS A POKEMON APP</h1>
    <a href="/allMons">See a list of all Pokemon</a>
    <br><br>
    <a href="/allTrainers">See a list of all Trainers</a>
</body>
</html>