<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
    <h1>List of games!</h1>
    <br>
    <a href="/">Go back to the homepage</a>
    <br>
    <a href="/users">Here is a list of users!</a>

    <% games.forEach((game) => { %>
        <div>
            <p>title: <a href="/games/<%=game._id%>"> <%= game.title %> </a></p>
        </div>
    <% }) %>
</body>
</html>