<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
    <h1>Welcome to the Homepage!</h1>
    <br>
    <a href="/users">Here is a list of users!</a>
    <br>
    <a href="/games">Here is a list of games!</a>
</body>
</html>