<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
    <h1>List of users!</h1>
    <br>
    <a href="/">Go back to the homepage</a>
    <br>
    <a href="/games">Here is a list of games!</a>

    <% users.forEach((user) => { %>
        <div>
            <p>username: <a href="/users/<%=user._id%>"> <%= user.username %> </a> </p>
        </div>
    <% }) %>
</body>
</html>